body {
    font-family: 'Pathway Gothic One', sans-serif;
    background-image: url(../images/226170266-star-wars-space-background.jpg);
    background-position: 50% 50%;
    text-align: center;
}
.container {
    font-family: 'Pathway Gothic One', sans-serif;
    color: yellow;
    background: transparent;
}



